/* this page is used for styling */

.mainheading{
    font-size: 30px;
    color: #133453;
    text-align: center;
    font-weight: bold;
    font-family: serif;
    text-decoration: underline;
}

.CenterButton{
    position: absolute;
    top:50%;
    left:46%;
}

.topnav{
    font-family: serif ;
}

.PersonalDetails{
    font-family: serif ;
    font-size: larger ;
}

.SelfIntroduction{
    font-size: 30px;
    color: #133453;
    text-align: center;
    font-weight: bold;
    font-family: serif;
    text-decoration: underline;
}
    


p {
    text-align:center;
}

body 

{
    background-color: white;
}












